body {
  border: 1px solid rgb(221, 221, 221);
  width: 1000px;
  margin: 16px auto;
}

body .markdown-body {
  padding: 30px;
}

header {
  background-color: #ca3b3a;
  line-height: 1.6;
  word-wrap: break-word;
  padding: 1px 30px;
}

header h1 {
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 20px;
  font-weight: 200;
  margin: 15px 0px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.markdown-body code {
  color: #1A276F;
  background-color: rgba(0, 0, 0, 0.05);
}
